{% extends 'base.html' %} {% block content %}

<div
  style="
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-botton: 10dvh;
    text-align: center;
  "
  data-aos="fade-down"
  data-aos-duration="1500"
>
  <img
    style="width: 90dvh"
    src="/static/media/flat1.png"
    class="pb-5"
    alt="image"
    data-aos="fade-down"
    data-aos-duration="1500"
  />

  <h1>¿De qué se trata este proyecto?</h1>
  <div
    data-aos="fade-down"
    data-aos-duration="1500"
    class="container-white"
    style="text-align: justify"
    margin-bottom: 10dvh;
  >
    <p data-aos="fade-down" data-aos-duration="1500">
      Además del objetivo de hacer la clasificación de reseñas que
      para mejorar la oferta en Colombia y fomentar, se quiere comparar las características de distintos sitios turísticos, con aquellos que han
obtenido bajas recomendaciones y que están afectando el número de turistas que llegan a
estos destinos. Adicionalmente, esta herramienta hace el papel para tener un mecanismo para determinar la calificación que
tendrá un sitio por parte de los turistas y así, por ejemplo, aplicar estrategias para identificar
oportunidades de mejora que permitan aumentar la popularidad de los sitios y fomentar el
turismo.
    </br>
    </br>
    En este proyecto se toma el rol de ingeniero de datos, pues, el ingeniero de datos tiene la responsabilidad de tomar el
resultado entregado por el científico de datos, completarlo, y persistir el modelo generado para este fin.
Adicionalmente, se arregla el modleo para que maneje casos
de falla. Finalmente, el ingeniero de software toma ese
resultado como entrada de la aplicación web o móvil que debe diseñar y construir la cuál es <strong>esta aplicación</strong>.
    </br>
    </br>
    Esta aplicación web tiene el propósito de ser utilizada por el usuario final para ingresar su solicitud al modelo, interactuar
con el resultado y apoyar sus acciones o decisiones. Los ususarios beneficiados son los siguientes, los cuales fueron validados con las líderes del proyecto:
</br>
    </br>
  </p>

<table class="table table-striped" data-aos="fade-down"
    data-aos-duration="1500" style="text-align: left;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Rol</th>
      <th scope="col">Beneficio</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
      <th scope="row">1</th>
      <td>Departamento de Turismo</td>
      <td>Mejora en la toma de decisiones relacionadas con la promoción turística, la asignación de recursos y el desarrollo de políticas públicas para el sector.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Dirección de Presupuesto y Finanzas</td>
      <td>Mejoraría la eficiencia del gasto público al identificar áreas de inversión más rentables y estratégicas basadas en los análisis.</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">3</th>
      <td>Empresas de Tecnología y Consultoría Especializadas</td>
      <td>Oportunidad de desarrollar y ofrecer soluciones tecnológicas y consultoría especializada en análisis de datos y modelos predictivos para el sector turístico.</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Ciudadanos y Empresas del Sector Turístico</td>
      <td>Acceso a información y análisis que les permite tomar decisiones más informadas para aprovechar la oferta turística en Colombia.</td>
    </tr>
  </tbody>
</table>

<p data-aos="fade-down"
    data-aos-duration="1500">
    </br>
    </br>
  Con los siguientes actores, se determinó que la aplicación está dirigida especialmente a ciudadanos y empresas del Sector Turístico, así como el Departamento de Turismo de Colombia. La aplicación apoyaría el proceso 
  de análisis de comentarios y reseñas turísticas para mejorar la oferta en Colombia y fomentar el turismo, esto para identificar puntos de mejora y puntos de incremento, como cosas que se hacen bien que se deben seguir haciendo y evaluar los puntos fuertes.
  </br>
    </br>
    Para cualquier empresa la aplicación puede ser útil si es de uso personal o si es una empresa que se dedica al turismo, ya que puede ayudar el análisis de la oferta
    al saber sus comentarios a qué tipo de comentarios pertenecen y poder agrupar para identificar objetivos de negocio diferentes, agregando valor a la organización.
  
  </p>

  </div>
</div>
<div style="width:10dvh">.</div>

{% endblock %}
