{% extends 'base.html' %} {% block content %}

<div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90dvh;
    text-align: center;
  "
>
  <h1>Bienvenido al proyecto de analítica de textos para reseñas</h1>
  <p>
    En este proyecto el objetivo es hacer la clasificación de reseñas que
    influyen en la popularidad de los destinos turísticos y en la satisfacción
    de los turistas para mejorar la oferta en Colombia y fomentar esta área.
  </p>
</div>

{% endblock %}
